</div>   

    <div class="row-fluid Footer">

	<div class="span3 first">
		Want to improve <a href="https://github.com/cpg/amahi-docs" target="_blank">these docs</a>?
	</div>

	<div class="span6 hidden-phone">
		<ul class="nav nav-pills">				
		<li><a href="http://www.amahi.org/">Amahi</a></li>
	      	<li><a href="http://wiki.amahi.org/">Wiki</a></li>
	      	<li><a href="http://blog.amahi.org/">Blog</a></li>
	      	<li><a href="http://forums.amahi.org/">Forums</a></li>
	      	<li><a href="http://bugs.amahi.org/">Bug Tracker</a></li>
		</ul>
	</div>

	<div class="span6 visible-phone">
		<ul class="nav nav-pills nav-stacked ">				
		<li><a href="http://www.amahi.org/">Amahi</a></li>
	      	<li><a href="http://wiki.amahi.org/">Wiki</a></li>
	      	<li><a href="http://blog.amahi.org/">Blog</a></li>
	      	<li><a href="http://forums.amahi.org/">Forums</a></li>
	      	<li><a href="http://bugs.amahi.org/">Bug Tracker</a></li>
		</ul>
	</div>


	<div class="span3 last">
		Copyright &copy; 2009-2012
	</div>


  </div><!--/row-fluid.footer-->
</div><!--/container.inner-->
</body>
</html>
