<!DOCTYPE html>
<html lang="en">
	<head>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<title>Amahi Installation - {{ page.title }}</title>
		<link rel="icon" type="image/png" href="static/images/favicon.png" />
		<meta name="description" content="Amahi Installation Docs" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="static/css/bootstrap.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="static/css/syntax.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="static/css/amahi-docs.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="static/css/bootstrap-responsive.css" type="text/css" media="screen" />
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
		<link rel="stylesheet" href="static/css/jquery.fancybox.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="static/css/style.css" type="text/css" />	
		<script type="text/javascript" src="static/js/jquery.fancybox.pack.js"></script>
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-32909879-1']);
			_gaq.push(['_trackPageview']);

			(function() {
			 var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			 ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			 })();
</script>
</head>
<body>
<script type="text/javascript">
$(document).ready(function() {
		$(".fancybox").attr('rel', 'gallery').fancybox({ padding : 5 });
	});
</script>
<div class="container inner">
	<div class="row-fluid Header{% if page.layout != 'homepage' %} with-border{% endif %}">
		<div class="span6 Module logo">
			<h1><a href="/"><img src="static/images/amahi-icon-60px.png"/> Amahi Docs</a></h1>
		</div>
		<div class="span6">
			<div class="Module navigation">
				<ul>
					<li><a href="http://www.amahi.org/">amahi</a></li>
					<li><a href="support.html">support</a></li>
					<li><a href="https://www.amahi.org/users">control panel</a></li>
				</ul>
			</div>
		</div>
	</div>
		
